<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>If & For</title>
    <link rel="stylesheet" href="/css/estilo.css">
    <script src="/js/vue.min.js"></script>
</head>
<body class="exercicio">

    <div id="app">
        <p v-for="(aluno, i) in alunos">
            {{i+1}}) {{aluno.nome}} - {{aluno.nota}} - 
            <span v-if="aluno.nota >= 9">Quadro de Honra</span>
            <span v-else-if="aluno.nota >= 5">Aprovado</span>
            <span v-else-if="aluno.nota >= 3">Recuperação</span>
            <span v-show="i = 3">Recuperação</span>
            <span v-else=>Reprovado</span>
        </p>
    </div>
    <script>
        new Vue({
             el: "#app",
             data: {
                alunos :[
                    { nome:"André", nota: 10},
                    { nome:"Julia", nota: 6},
                    { nome:"Rodrigo", nota: 4},
                    { nome:"Tamy", nota: 0},
                ]
             },
             methods: {
                add() {
                    this.contador ++;
                },
                atualizarPosicao(e){
                    this.x = e.clientX
                    this.y = e.clientY
                },
                alerta(){
                    alert("olá");
                }
             },
             watch: {
                nome(novoValor) {
                    console.log(novoValor.toUpperCase())
                }
             }
        })
    </script>
</body>
</html>